[DEFAULT]
# Dataset path
dataset_dir = /home/zyn/Data/CSLR_dataset/mp_mat

# Processed dataset storage path
dataset_processed_dir = ./dataset

# 3D data usage
3D_enable = false

# Body data usage
pose_enable = false

# Mirror
mirror_enable = false

# Note: Shoulder and elbow joints are not included (only 42 keypoints for both hands)

# Define the size of the cropped image (256x256 pixels)
crop_size = 1.0
# Number of key frames
keyframe_num = 48

# Data and label file name
data_file_name = CSLR_K{keyframe_num}_N{node_num}_D{dimension_num}_data.npy
label_file_name = CSLR_K{keyframe_num}_N{node_num}_D{dimension_num}_label.npy

# Num of label (0-499)
label_num = 500

# Training, validation, and test set sizes
train_data_size = 0.8
valid_data_size = 0.1
test_data_size = 0.1

# Model storage path
model_save_dir = ./model

# Log path
log_dir = ./log
log_name = data_process.log