[local_0]
# Dictionary path
dictionary_path=./dataset/dictionary.txt

# Model path
model_path = model/blstm_output500_input46x92_20250712_2225_0.pkl
model_info = model/model_info.json

# Demo log
log_dir = ./log/demo
log_name = prediction_demo_0.log

[local_1]
# Dictionary path
dictionary_path=./dataset/dictionary.txt

# Model path
model_path = model/blstm_output500_input48x84_20250713_1648_0.pkl
model_info = model/model_info.json

# Data path
data_path = dataset/CSLR_K48_N42_D2_data.npy
label_path = dataset/CSLR_K48_N42_D2_label.npy

# Demo log
log_dir = ./log/demo
log_name = prediction_demo_1.log

# Test accuracy file
result_file = ./dataset/accuracy.json

[local_2]
# Dictionary path
dictionary_path=./dataset/dictionary.txt

# Model path
model_path = model/blstm_output500_input46x92_20250712_2225_0.pkl
model_info = model/model_info.json

# Demo log
log_dir = ./log/demo
log_name = prediction_demo_2.log

[local_3]
# Dictionary path
dictionary_path=./dataset/dictionary.txt

# Model path
model_path = model/blstm_output500_input46x92_20250712_2225_0.pkl
model_info = model/model_info.json

# Temp file
tmp_video = dataset/demo_3.avi
tmp_txt = dataset/demo_3.txt

# Demo log
log_dir = ./log/demo
log_name = prediction_demo_3.log

# Diff threshold
diff_threshold = 0.00165
