[local]

# Dictionary path
dictionary_path=./dataset/dictionary.txt

# Model path
model_path = model/blstm_output500_input36x84_20250707_2051_0.pkl

# Demo log
log_dir = ./log
log_name = prediction_demo.log
