[DEFAULT]
# Enabld bidirectional
enable_bi = true

# Number of input features
INPUT_SIZE = 92
# Number of neurons in a single LSTM unit
HIDDEN_SIZE = 128
# Number of output classes
OUTPUT_SIZE = 28

# Model training config
BATCH_SIZE = 256
EPOCH = 120
LEARNING_RATE = 0.001

# Dropout rate
DROP_RATE = 0.5
# Number of hidden layers 
LAYERS = 2
# Random seed
SEED = 0
# Number of CPU threads
CPU_NUMS = 16

# Train log
log_dir = ./log/train_log
log_name = train.log

# Model info
info_name = model_info.json