[holistic]
# Data path
video_path = /home/zyn/Data/CSL2018/gloss/color-gloss/color/
save_path = /home/zyn/Data/CSLR_dataset/mp_txt/

# Log path
log_dir = ./log/mp_log
log_name = mp.log

# invalid file list
invalid_file = invalid.txt
# processed file list
record_file = processed.txt